<div class="container" [ngStyle]="{'background-color':bgColor}">
  <div class="infos-container">
    <div class="info" (click)="show()">
      <h4>{{projectName}}</h4>
    </div>
    <div class="info-transluced">
      <h5>{{projectType}}</h5>
    </div>
  </div>
  <div class="description-container" >
    <div class="description-tittle" *ngIf="showDetails">
      <h5>{{projectName}}</h5>
    </div>
    <div class="description-text" *ngIf="showDetails">
      <p>
        {{projectDescription}}
      </p>
    </div>
    <div class="button-container">

      <a class="button" [routerLink]="['/project',projectId]">
        🡽
      </a>

    </div>
  </div>

</div>
