.articles{
  display: flex;
  width: 100%;
}
.articles-main{
  display: flex;
  width: 75%;
  flex-direction: column;
  margin-left: 1%;
}
.articles-others{
  margin-top: 2%;
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
}
.bigcards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

